@import "./styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px); 
  z-index: -2; 
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; 
}

html, body {
  height: 100%;
  width: 100%;
}