// _color.scss
$primary-color: #646cff;
$secondary-color: #535bf2;
$color-black: #000;
$color-white: #fff;
$color-gray: #808080;
$color-primary-gray: rgba(17, 24, 39, .95);
$color-secondary-gray: rgba(31, 41, 55, .9);
$color-primary-purple:rgb(192, 132, 252,1 );
$color-light-gray:rgb(156, 163, 175, 1 );
$color-dusky-gray:#e5e7eb;
$color-pink-500:rgb(236 72 153 / 0.1);
$color-purple-500:rgb(168 85 247 / 0.1);
$color-purple-400: rgba(139, 92, 246, 0.1);
$color-pink-400: rgba(244, 114, 182, 0.1);
$color-gray-500:rgb(55 65 81 / 0.5);
