@import "../../../styles/index.scss";
.a-button{
display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: $color-primary-purple;
  color:$color-white;

  transition: background-color 0.3s ease, color 0.3s ease;
  &--disabled {
    background: lighten(rgba($color-pink-500, 1), 20%);
    cursor: not-allowed;
    color: $color-white;
    opacity: 0.6;
    pointer-events: none; // Prevents clicks
  }
  
  &--gradientPink {
    background: linear-gradient(to right, rgba($color-purple-500, 1), rgba($color-pink-500, 1));
    &:hover {
      background: linear-gradient(to right, rgba($color-purple-400, 1), rgba($color-pink-400, 1));
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

}